/* NAVBAR */
.navbar {
  background: var(--lile);
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  padding: .5rem 0;
}

.navbar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

/* MAIN */
main {
  /* padding: 2rem; */
}

/* MAIN SECTION */
.home {
  min-height: 100vh;
  position: relative;
}

article {
  height: 500px;
}
]